body{
    color: blue;
}

.heading{
    font-size: 18px;
    border-radius: 10px;
    letter-spacing: 10px;
}
#webcam{
    border-radius: 25px;
    border-style:solid;
    width: 140px;
    height: 2px;
}